* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

a {
  display: flex;
  min-width: 150px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  background-color: #ececec;
  color: #1c1c1c;
  border-radius: 5px;
}

a:hover,
a:focus {
  background-color: #1c1c1c;
  color: #fff;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

body {
  margin: 0;
  font-size: 25px;
  padding: 17%;
}

li {
  list-style: none;
}

.button__return {
  background-color: #ececec;
}
