* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  list-style: none;
}

.button__return {
  background-color: #ececec;
  text-decoration: none;
  color: black;
  padding: 10px;
  min-width: 70px;
  text-align: center;
  border-radius: 5px;
  margin: 0 24px;
  display: inline-block;
  margin-bottom: 20px;
}

.button__return:hover,
.button__return:focus {
  background-color: black;
  color: #ececec;
}

button {
  background-color: #ececec;
  text-decoration: none;
  color: black;
  border: none;
  padding: 10px;
  margin-top: 10px;
  min-width: 70px;
  text-align: center;
  border-radius: 5px;
  margin: 0 24px;
  display: inline-block;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: black;
  color: #ececec;
}

.form {
  background-color: #ececec;
  border: none;
  padding: 15px 35px;
  border-radius: 5px;
  display: block;
  width: 20%;
}

.form:focus,
.form:hover {
  background-color: #f7f7f7;
  outline: none;
}

.div {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-img {
  display: flex;
  justify-content: space-around;
}

#gallery {
  display: flex;
}

.h1 {
  margin: 0;
  padding-bottom: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
